@model MyMobile.DAL.Models.ViewModels.Pages.HomePageViewModel
@*remove all inline styles*@

<h4>Търсене в обявите</h4>
<div class="form-container">
    <form method="get" action="Listings\Search">
        <table>
            <tr>
                <th>
                    <label for="CategoryId">Основна категория</label>
                </th>
            </tr>
            <tr>
                <td>
                    <select style="width:220px; height:26px;" name="CategoryId" class="form-control">
                        <option></option>
                        @for (int i = 0; i < Model.AdQuickSearchViewModel.Categories.Count; i++)
                        {
                            if (Model.AdQuickSearchViewModel.Categories[i].Id == 1)
                            {
                                <option value="@Model.AdQuickSearchViewModel.Categories[i].Id" selected>@Model.AdQuickSearchViewModel.Categories[i].Type</option>
                            }
                            else
                            {
                                <option value="@Model.AdQuickSearchViewModel.Categories[i].Id">@Model.AdQuickSearchViewModel.Categories[i].Type</option>
                            }
                        }
                    </select>
                </td>
            </tr>
        </table>
        <div class="mid-table-container">
            <div class="mid-table-1">
                <table>
                    <tr>
                        <th class="pub-titles">Марка</th>
                        <th class="pub-titles">Модел</th>
                    </tr>
                    <tr>
                        <td>
                            <select name="MakeId" class="form-control">
                                <option></option>
                                @foreach (var make in Model.AdQuickSearchViewModel.Makes)
                                {
                                    <option value="@make.Id">@make.Name</option>
                                }
                            </select>
                        </td>
                        <td>
                            <select name="ModelId" class="form-control">
                                <option></option>
                                @foreach (var carModel in Model.AdQuickSearchViewModel.Models)
                                {
                                    <option value="@carModel.Id">@carModel.Name</option>
                                }
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <th class="pub-titles">Максимална цена</th>
                        <th class="pub-titles">Година</th>
                    </tr>
                    <tr>
                        <td>
                            <input type="text" name="MaximalPrice" class="form-control-input" />
                        </td>
                        <td>
                            <select name="Year" class="form-control">
                                <option></option>
                                @for (int i = DateTime.Now.Year; i >= 1950; i--)
                                {
                                    <option value="@i">@i</option>
                                }
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <th class="pub-titles">Тип двигател</th>
                        <th class="pub-titles">Скоростна кутия</th>
                    </tr>
                    <tr>
                        <td>
                            <select name="EngineId" class="form-control">
                                <option></option>
                                @foreach (var engine in Model.AdQuickSearchViewModel.Engines)
                                {
                                    <option value="@engine.Id">@engine.Type</option>
                                }
                            </select>
                        </td>
                        <td>
                            <select name="GearboxId" class="form-control">
                                <option></option>
                                @foreach (var gearbox in Model.AdQuickSearchViewModel.Gearboxes)
                                {
                                    <option value="@gearbox.Id">@gearbox.Type</option>
                                }
                            </select>
                        </td>
                    </tr>
                </table>
            </div>
            <div class="mid-table-2">
                <table>
                    <tr>
                        <th class="pub-titles">Регион</th>
                        <th class="pub-titles">Населено място</th>
                    </tr>
                    <tr>
                        <td>
                            <select name="RegionId" class="form-control">
                                <option></option>
                                @foreach (var region in Model.AdQuickSearchViewModel.Regions)
                                {
                                    <option value="@region.Id">@region.Name</option>
                                }
                            </select>
                        </td>
                        <td>
                            <select name="TownId" class="form-control">
                                <option></option>
                                @foreach (var town in Model.AdQuickSearchViewModel.Towns)
                                {
                                    <option value="@town.Id">@town.Name</option>
                                }
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <th class="pub-titles" colspan="2">Подреждане на резултатите по</th>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <select name="SortingId" style="width: 301px;" class="form-control">
                                <option value="1">Марка/Модел/Цена</option>
                                <option value="2">Цена</option>
                                <option value="3">Дата на производство</option>
                                <option value="4">Пробег</option>
                                <option value="5">Най-новите обяви</option>
                                <option value="6">Най-новите обяви от посл. 2 дни</option>
                            </select>
                        </td>
                    </tr>
                </table>
            </div>
            <input style="margin-top: 33px;" type="submit" value="ТЪРСИ" />
            <div class="condition-checkboxes" style="height:20px; width:100%; clear: both;">
                @foreach (var condition in Model.AdQuickSearchViewModel.Conditions)
                {
                    if (condition.Id == 1 || condition.Id == 2)
                    {
                        <input checked type="checkbox" value="@condition.Id" /> <span>@condition.Type</span>
                    }
                    else
                    {
                        <input type="checkbox" value="@condition.Id" /> <span>@condition.Type</span>
                    }
                }
            </div>
        </div>
    </form>
</div>
<h4 style="margin-bottom: 0; padding-bottom: 4px;">Най-новите обяви за Автомобили и Джипове</h4>
<div class="listings-container" style="border: 1px solid #0099FF; border-top: 3px solid #0099FF;">
    <table>
        @*displaying only six ads on the home page sorted by date added*@
        @if (@Model.CarAdViewModel.CarAds.Count > 0) @*fix if*@
        {
            @for (int i = 0; i < 1; i++) @*fix for to not throw index out of range when there are less than six ads  < 3*@
            {
                <tr>
                    <td>
                        <a class="item" name="carAdId" asp-controller="CarAds" asp-action="CarAd" asp-route-id="@Model.CarAdViewModel.CarAds[i].Id">
                            <table style="border-bottom: 1px solid #ccc; margin-right: 10px;">
                                <tr>
                                    <td>
                                        <img src="https://images.unsplash.com/photo-1549317661-bd32c8ce0db2?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80" alt="Image not found" width="180px" height="129px">
                                    </td>
                                    <td class="item-details">
                                        <span class="make">@Model.CarAdViewModel.CarAds[i].Name</span>
                                        <br>
                                        <br>
                                        <span class="price">@Model.CarAdViewModel.CarAds[i].DefaultPriceBgn<span>лв</span></span>
                                        <br>
                                        <span class="others">@Model.CarAdViewModel.CarAds[i].Mileage<span>км</span></span>
                                        <br>
                                        <span class="others">@Model.CarAdViewModel.CarAds[i].Town.Name</span>
                                        <br>
                                        @*fix date created*@
                                        <span class="date">@Model.CarAdViewModel.CarAds[i].DateAdded.ToString("HH:mm") на @Model.CarAdViewModel.CarAds[i].DateAdded.ToString("dd.MM.yyyy")</span>
                                    </td>
                                </tr>
                            </table>
                        </a>
                    </td>
                    <td>
                        <a class="item" name="carAdId" asp-controller="CarAds" asp-action="CarAd" asp-route-id="@Model.CarAdViewModel.CarAds[i + 1].Id">
                            <table style="border-bottom: 1px solid #ccc;">
                                <tr>
                                    <td>
                                        <img src="https://images.unsplash.com/photo-1549317661-bd32c8ce0db2?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80" alt="Image not found" width="180px" height="129px">
                                    </td>
                                    <td class="item-details">
                                        <span class="make">@Model.CarAdViewModel.CarAds[i + 1].Name</span>
                                        <br>
                                        <br>
                                        <span class="price">@Model.CarAdViewModel.CarAds[i + 1].DefaultPriceBgn<span>лв</span></span>
                                        <br>
                                        <span class="others">@Model.CarAdViewModel.CarAds[i + 1].Mileage<span>км</span></span>
                                        <br>
                                        <span class="others">@Model.CarAdViewModel.CarAds[i + 1].Town.Name</span>
                                        <br>
                                        @*fix date created*@
                                        <span class="date">@Model.CarAdViewModel.CarAds[i + 1].DateAdded.ToString("HH:mm") на @Model.CarAdViewModel.CarAds[i + 1].DateAdded.ToString("dd.MM.yyyy")</span>
                                    </td>
                                </tr>
                            </table>
                        </a>
                    </td>
                </tr>
            }
        }
    </table>
</div>