@using MyMobile.DAL.Models.ViewModels.Administration
@model ListUsersViewModel
<style>
        #users {
            font-family: Arial, Helvetica, sans-serif;
            border-collapse: collapse;
            width: 100%;
        }

        #users td, #users th {
            border: 1px solid #ddd;
            padding: 8px;
            text-align: center;
        }

        #users tr:nth-child(even) {
            background-color: #f2f2f2;
        }

        #users tr:hover {
            background-color: #ddd;
        }

        #users th {
            padding-top: 12px;
            padding-bottom: 12px;
            text-align: left;
            background-color: #04AA6D;
            color: white;
        }

</style>
@{
    ViewBag.Title = "All Users";
}

<h1>Списък на потребителите</h1>
@if (@Model.Users.Any())
{
    <table id="users">
        <tr>
            <td>ID</td>
            <td>Username/Email</td>
            <td>Права</td>
            <td>Брой обяви</td>
            <td>Действия</td>
        </tr>
        @foreach (var user in Model.Users)
        {
            <tr>
                <td>
                    @user.Id
                </td>
                <td>
                    @user.Username
                </td>
                <td>
                    @user.RoleName
                </td>
                <td>
                    @user.AdsCount
                </td>
                <td>
                    <a href="">Настройки</a>
                    <span>|</span>
                    <a href="">Преглед</a>
                    <span>|</span>
                    <a href="">Изтриване</a>
                </td>
            </tr>
        }
    </table>
}
else
{
    <div>No users created yet</div>
    <div>
        <a asp-action="Register" asp-controller="Account">Add new User</a>
    </div>
}