@model CarAdViewModel

<h4>Обяви за автомобили и джипове</h4>
<table>
    <tbody>
        @foreach (var car in Model.CarAds)
        {
             <tr style="border: 1px solid black">
                 <td>
                     @car.Name
                     <br/>
                     @car.HorsePower
                     <br/>
                     @car.Mileage
                     <br/>
                     @car.DefaultPriceBgn лв
                     <br/>
                     @car.Town.Name
                     <br/>
                     @car.Condition.Type
                     <br/>
                     @foreach(var comfort in car.CarAdComforts) //fix get
                     {
                         @comfort.Comfort.Name
                         <br/>
                     }
                 </td>
             </tr>
        }
    </tbody>
</table>