@model CarAdViewModel

<h4 class="search-header">Обяви за автомобили и джипове</h4>
<div class="search-details-container">
</div>
<div class="page-details-container">
</div>
<div class="results-container">
    @foreach (var carAd in Model.CarAds)
    {
        <div class="result-container">
            <div class="listing-img-container">
                <img style="" src="https://images.unsplash.com/photo-1549317661-bd32c8ce0db2?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80" alt="Image not foud" width="250">
            </div>
            <div class="listing-details-container">
                @*how to hide too long text with ...*@
                <div class="name-price">
                    <div style="font-size:21px; font-weight: bold; float: left;"><a style="text-decoration: none;" name="carAdId" asp-controller="CarAds" asp-action="CarAd" asp-route-id="@carAd.Id">@carAd.Name</a></div>
                    <div style="font-size:25px; font-weight:bold; float: right;">@carAd.DefaultPriceBgn лв.</div>
                </div>
                <div class="listing-details" style="font-size: 13px;">
                    <table>
                        <tr>
                            <td>Мощност [к.с.]</td>
                            <td>@carAd.HorsePower</td>
                        </tr>
                        <tr>
                            <td>Дата на произв.</td>
                            <td>@carAd.ManufactureMonth<span>/</span>@carAd.ManufactureYear<span>г.</span></td>
                        </tr>
                        <tr>
                            <td>Регион:</td>
                            <td>@carAd.Region.Name<span>, гр. </span>@carAd.Town.Name</td>
                        </tr>
                        <tr>
                            <td>Пробег:</td>
                            <td>@carAd.Mileage<span>км</span></td>
                        </tr>
                        <tr>
                            <td>Цвят:</td>
                            <td>@carAd.Color.Name</td>
                        </tr>
                        <tr>
                            <td>Тип двигател:</td>
                            <td>@carAd.Engine.Type</td>
                        </tr>
                        <tr>
                            <td>Скоростна кутия:</td>
                            <td>@carAd.Gearbox.Type</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    }
</div>